.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tileCell {
  max-width: 600px;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 1.25em;
  cursor: pointer;
}

.Benefits_tiles {
  max-width: 100%;
  margin-bottom: 10px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
}

.contentCell {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.25em;
}

.OPOS_img {
  width: 200px;
  float: left;
  padding-right: 20px;
}
